<mat-card>
    <mat-card-header>
      <mat-card-title>
        Vulnerabilities
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>

    <pre>
        git config credential.helper store
        
        git flow feature start MYFEATURE
        
        git reset --hard
        
        git revert commit hash
        
        git remote -v
        
        git remote set-url origin https://github.com/USERNAME/REPOSITORY.git
        
        sudo lsof -i tcp:3000
        
        sudo dpkg -i /path/to/deb/file
        
        sudo apt-get install -f
        
        HiveMQ 3.1.1. Borrar -XX: -UseSplitVerifier en hivemq.service
        
        npm init
        
        tsc [nombre archivo]
        
        tsc --init
        
        Crea un archivo tsconfig.json
        
        tsconfig.json tiene una propiedad llamada outDir, donde caen todos los archivos de javascript creados.
        
        tsc -w watch mode observa todos los cambios realizados en la carpeta que está observando
        
        npm install express
        npm install body-parser
        npm install cors
        npm install mongoose
        npm install express-fileupload
        npm install jsonwebtoken
        npm install bcrypt
        
        npm install express body-parser cors mongoose express-fileupload jsonwebtoken bcrypt
        
        npm install @types/express -- save-dev
        
        NOTICE: Not enabling PHP 7.4 FPM by default.
        NOTICE: To enable PHP 7.4 FPM in Apache2 do:
        NOTICE: a2enmod proxy_fcgi setenvif
        NOTICE: a2enconf php7.4-fpm
        
        docker run -d --rm --network=javaspringvulny_JSV_Uno --ip=192.168.0.77 -p 3000:3000 bkimminich/juice-shop
        
        docker run --name basic-postgres-uno --rm -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=rikasneed -e PGDATA=/var/lib/postgresql/data/pgdata -v /tmp:/var/lib/postgresql/data -p 5432:5432 --network=javaspringvulny_JSV_Uno --ip=192.168.0.75  -it postgres:14.1-alpine
        </pre>
                
    
    <!--<mat-card-actions>
      <button mat-raised-button color="accent">Click me!</button>
    </mat-card-actions>-->
</mat-card>


