<mat-card>
    <mat-card-header>
      <mat-card-title>
        Vulnerabilities
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h2>Race Condition : Singleton Member Field</h2>
        <h2>Mass Assignment: Insecure Binding Configuration</h2>
        <h2>Cookie Security: Overly Broad Path</h2>
        <p>A cookie with an overly broad path can be accessd through other applications on the same origin</p>
        <hr>
        <h2>Server Side Request Forgery</h2>
        <hr>
        <h2>Header Manipulation</h2>
        <hr>
        <h2>Broken Access Control</h2>
        <b>Authentication</b>
        <p>Process of confirming the truth of an attribute of a single piece of data claimed true by an entity. </p>
        <hr>
        <b>Hardcoded Credentials</b>
        <b>Session Management</b>
        <p>A session refers to a sequence of interactions between a user and a system, typically involving multiple requests and responses.</p>
        
        <b>Access Control</b>
        <p>security mechanism that enables an organization or system to regulate access to resources or information based on predefined rules or policies.</p>
        
        <ul>
          <li>
            <div>
              <b>Vertical Access Control</b>
              <p>Permissions and restrictions according to the subject's role</p>
            </div>
          </li>
          <li>
            <div>
              <b>Horizontal Access Control</b>
              <p></p>
            </div>
          </li>
        </ul>
        <hr>
        <h2>Open Redirection</h2>    
    </mat-card-content>


    
    <!--<mat-card-actions>
      <button mat-raised-button color="accent">Click me!</button>
    </mat-card-actions>-->
</mat-card>

